<section class="hero">
  <ul class="hero-list">
    <li class="hero-item">
      <p class="hero-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio
        exercitationem quae nulla repellat perspiciatis rem corporis natus, odit
        fugiat ipsa magnam ex, est dolorum voluptate libero nam similique
        mollitia expedita.
      </p>
    </li>
    <li class="hero-item">
      <p class="hero-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias
        ipsam officiis, autem officia dolore debitis nostrum dicta architecto
        explicabo cum quod iusto impedit non earum vitae in qui. Et, sit!
      </p>
    </li>
    <li class="hero-item">
      <p class="hero-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur iure
        aut, inventore sapiente odit voluptates cumque itaque modi error totam
        deleniti perspiciatis veniam hic doloremque aliquam molestias, doloribus
        pariatur. Quas.
      </p>
    </li>
  </ul>
</section>
